<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!-- Standard PS config file for Linux/Docker-based deployments -->
<configuration>

  <!-- Mandatory logging -->
  <logging>
    <console>
      <level>info</level>
      <show-stack-trace>no</show-stack-trace>
    </console>
    <file>
      <level>trace</level>
      <path>${env:RUN_DIR}/log-files/ps-server.log</path>
    </file>
    <logger-list>
      <logger>
        <name>anubex.ps</name>
        <level>trace</level>
      </logger>          
    </logger-list>
  </logging>

  <presentation-service>
    <!--
    <business-tier-interface>redis</business-tier-interface>
    <redis-host>${env:REDIS_HOST}</redis-host>
    <redis-port>${env:REDIS_PORT}</redis-port>
    -->

    <!-- Mandatory ports - must be unique -->
    <service-management-port>${env:PS_PORT}</service-management-port>            <!-- start/stop service -->
    <http-port>${env:PS_HTTP_PORT}</http-port>                                   <!-- admin pages + html client -->
    
    <server-root>${env:RUN_DIR}/config-files/ps-web-pages</server-root>          <!-- static pages -->

    <process-management-service-address>${env:PMS_HOST}</process-management-service-address>
    <process-management-service-port>${env:PMS_PORT}</process-management-service-port>
    
    <!-- optional logging -->    
    <user-activity-log>${env:RUN_DIR}/log-files/ps-user-activity.log</user-activity-log>
    <user-activity-log-preserve-days>1</user-activity-log-preserve-days>
    <new-user-activity-log-interval-hours>1</new-user-activity-log-interval-hours>
    <task-log>${env:RUN_DIR}/log-files/ps-task.log</task-log>
    <task-log-preserve-days>1</task-log-preserve-days>
    <task-log-interval-hours>1</task-log-interval-hours>
    <performance-statistics-file>${env:RUN_DIR}/log-files/ps-performance-statistics.log</performance-statistics-file>
    <performance-statistics-output-interval>60</performance-statistics-output-interval>
    <performance-statistics-file-preserve-days>1</performance-statistics-file-preserve-days>
    <communication-messages-log-file>${env:RUN_DIR}/log-files/ps-trace-messages.log</communication-messages-log-file>
    <trace-directory>${env:RUN_DIR}/log-files/ps</trace-directory>

    <!-- Optional terminal interface -->
    <terminal-interface>
      <protocol>TN3270</protocol>
      <port>${env:PS_3270_PORT}</port>
      <program-charset>Windows-1252</program-charset>
      <terminal-charset>IBM297</terminal-charset>
      <show-logon-screen>false</show-logon-screen>
      <logon-template>${env:RUN_DIR}/config-files/tn3270-logon.txt</logon-template>
      <logon-template-charset>Windows-1252</logon-template-charset>
      <user-id>terminaluser</user-id>
      <password>terminaluser</password>
      <connection>CICS</connection>
    </terminal-interface>
  
    <!-- Authentication and authorization -->  
    <access-control>
      <name>default</name>
      <settings>
        <application>
          <logon-mechanism>none</logon-mechanism>
          <authorized-users>
          </authorized-users>
        </application>
        <administration>
          <logon-mechanism>none</logon-mechanism>
          <authorized-users>
          </authorized-users>
        </administration>
        <users>
        </users>
      </settings>
    </access-control>
  
    <!-- Optional testmatch recording -->
    <testmatch-settings>
      <trace-directory>${env:RUN_DIR}/log-files/ps</trace-directory>
      <log-file></log-file>
      <log-level>DIAGNOSTICS</log-level>
      <encrypt-invisible-editable-fields>false</encrypt-invisible-editable-fields>
    </testmatch-settings>

    <!-- Timeouts -->
    <client-heartbeat-interval>60</client-heartbeat-interval>
    <max-heartbeat-interval-before-session-cleanup>240</max-heartbeat-interval-before-session-cleanup>
    <client-timeout>3600</client-timeout>
    <server-timeout>3600</server-timeout>
  </presentation-service>
</configuration>
